body {
	background-color: #fffbf7;
	font-family: 'Open Sans', sans-serif;
}
header {
	color: #ffffff;
	background-color: #3877aa;
	height: 100px;
		box-shadow: 5px 5px 5px #888888;
}
main {

}
/*individual square properties*/
td {
	width: 80px;
	height: 50px;
	border: 3px solid white;
	font-size: 20px;
	background-color: #bae3ff;
	text-align: center;
	padding-top: 30px;
}
h1 {
	padding-bottom: 100px;
}
table {
	margin: 0 auto;
	box-shadow: 5px 5px 5px #888888;
	    border: 4px solid #bcc5d6;
}
button {
	border-radius: 5px;
	background-color: #3877aa;
	color: white;
	display: block;
	width: 120px;
	margin: 30px auto;
	font-size: 20px;
	padding: 3px 12px;
}
.left {
	float: left;
	position: relative;
	top: 33px;
	left: 38px;

}
.right {
	float: right;
	position: relative;
	top: 33px;
	right: 38px;
}
.left, .right {
	display: block;
	font-size: 26px;
}
.single-ball {
	float: left;
	height: 65px;
	position: relative;
	top: 17px;
	left: 23px;
}
.current-container {
	width: 400px;
	margin: 0 auto;
}
.current-strokes-container {
	display: inline;
}
.current-ball-label {
	font-size: 20px;
	text-align: center;
	margin: 15px 0 0 0;
}
/* class for ball at bottom of bounce or resting */
.white-ball {
	background-image: url(../images/white-ball.png);
	width: 140px;
	height: 140px;
	background-size: cover;
	display: inline-block;
	position: relative;
    top: 21px; 
   	transition: .1s;  /* how fast the ball drops  */  
}
/*class for ball at top of bounce */
.white-ball-bounce {
	background-image: url(../images/white-ball.png);
	width: 140px;
	height: 140px;
	background-size: cover;
	display: inline-block;
	position: relative;
    top: 11px;
	transition: 1s;   /* how fast the ball rises  */
}
.scores {
	display: inline-block;
	position: relative;
	left: 30px;
	top: 53px;
}
#current-ball {

	font-size: 62px;
	text-align: center;
	position: relative;
	top: 35px;

}
	@keyframes bounce {
		0% {
			position: relative;
			top: 0px;
		}
		50% {
			position: relative;
			top: -120px;
		}
		100% {
			position: initial;
			top: 0px;
		}
	}
#player1Score {
	padding: 4px;
    font-size: 25px;
    font-weight: 800;
}
#player2Score {
	padding: 4px;
    font-size: 25px;
}