body {
	background-color: #fffbf7;
	font-family: 'Open Sans', sans-serif;
}
header {
	color: #ffffff;
	background-color: #3877aa;
	height: 100px;
}
main {

}
td {
	width: 100px;
	height: 60px;
	border: 3px solid white;
	font-size: 20px;
	background-color: #bae3ff;
	text-align: center;
	padding-top: 40px;
}
h1 {
	padding-bottom: 100px;
}
table {
	margin: 0 auto;
}
.left {
	float: left;
	position: relative;
	top: 33px;
	left: 38px;

}
.right {
	float: right;
	position: relative;
	top: 33px;
	right: 38px;
}
.left, .right {
	display: block;
	font-size: 26px;
}
.single-ball {
	float: left;
	height: 65px;
	position: relative;
	top: 17px;
	left: 23px;
}
.current-container {
	position: relative;
	left: 292px;
}
.current-ball-container {
	display: inline-block;
}
.current-strokes-container {
	display: inline;
	position: relative;
	top: -78px;
	left: 20px;
}
.current-ball-label {
	font-size: 20px;
	text-align: center;
	margin: 15px 0 0 0;
}
#current-ball {
	font-size: 85px;
	text-align: center;
}