body {
	background-color: #fffbf7;
	font-family: 'Open Sans', sans-serif;
}
header {
	color: #ffffff;
	background-color: #3877aa;
	height: 100px;
		box-shadow: 5px 5px 5px #888888;
}
main {

}
td {
	width: 80px;
	height: 50px;
	border: 3px solid white;
	font-size: 20px;
	background-color: #bae3ff;
	text-align: center;
	padding-top: 30px;
}
h1 {
	padding-bottom: 100px;
}
table {
	border: thin solid red;
	margin: 0 auto;
	box-shadow: 5px 5px 5px #888888;
	    border: 4px solid #bcc5d6;
}
.left {
	float: left;
	position: relative;
	top: 33px;
	left: 38px;

}
.right {
	float: right;
	position: relative;
	top: 33px;
	right: 38px;
}
.left, .right {
	display: block;
	font-size: 26px;
}
.single-ball {
	float: left;
	height: 65px;
	position: relative;
	top: 17px;
	left: 23px;
}
.current-container {
	width: 400px;
	margin: 0 auto;
	position: relative;
	top: 23px;
}
.current-strokes-container {
	display: inline;
}
.current-ball-label {
	font-size: 20px;
	text-align: center;
	margin: 15px 0 0 0;
}
.white-ball {
	background-image: url(../images/white-ball.png);
	width: 140px;
	height: 140px;
	background-size: cover;
	display: inline-block;
}
.scores {
	display: inline-block;
	position: relative;
	left: 10px;
}
#current-ball {

	font-size: 62px;
	text-align: center;
	position: relative;
	top: 35px;

}